<h1>Awesome companies I got to work with</h1>
<div class="image-container">
    <a href="http://lv.vlaanderen.be">
        <img src="assets/images/companies/landbouw-visserij.png" alt="Vlaamse overheid departement Landbouw en Visserij" />
    </a>
</div><div class="image-container">
    <a href="https://www.colruyt.be">
        <img src="assets/images/companies/colruyt.png" alt="Colruyt" />
    </a>
</div><div class="image-container">
    <a href="http://mobilit.belgium.be">
        <img src="assets/images/companies/fod-mobiliteit.png" alt="FOD Mobiliteit" />
    </a>
</div><div class="image-container">
    <a href="https://www.smals.be">
        <img src="assets/images/companies/smals.png" alt="Smals" />
    </a>
</div><div class="image-container">
    <a href="http://www.realdolmen.be">
        <img src="assets/images/companies/realdolmen.png" alt="Realdolmen" />
    </a>
</div><div class="image-container">
    <a href="https://www.hogent.be">
        <img src="assets/images/companies/hogent.png" alt="Hogeschool Gent" />
    </a>
</div><div class="image-container">
    <a href="https://www.tapazz.com">
        <img src="assets/images/companies/tapazz.png" alt="Tapazz" />
    </a>
</div><div class="image-container">
    <a href="https://www.vdk.be">
        <img src="assets/images/companies/vdk.png" alt="VDK Spaarbank" />
    </a>
</div>
