# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
/src/main/resources/public

# dependencies
front-end/node_modules
front-end/coverage/

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.iml

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/front-end/.sass-cache
/front-end/connect.lock
/front-end/coverage
/front-end/libpeerconnection.log
/front-end/npm-debug.log
/front-end/testem.log
/front-end/typings

# System Files
.DS_Store
Thumbs.db

target/
!.mvn/wrapper/maven-wrapper.jar
front-end/src/assets/data/
