footer {
    background-color: #f1ece0;
    padding: 1rem 2rem;
    font-size: 10pt;
}
footer .social-icons {
    float: right;
    margin: 1rem;
}
footer .social-icons .social-icon {
    margin-right: 1rem;
    width: 32px;
    height: 32px;
    display: inline-block;
    -webkit-transition: opacity 0.5s, -webkit-transform;
    transition: transform, opacity 0.5s;
    opacity: 0.75;
}
footer .social-icons .social-icon:last-child {
    margin-right: 0;
}
footer .social-icons .social-icon.github {
    background-image: url('../../assets/images/social-media-icons/social-1_logo-github.svg');
}
footer .social-icons .social-icon.linkedin {
    background-image: url('../../assets/images/social-media-icons/social-1_logo-linkedin.svg');
}
footer .social-icons .social-icon.twitter {
    background-image: url('../../assets/images/social-media-icons/social-1_logo-twitter.svg');
}
footer .social-icons .social-icon:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 1;
}
