div.animated {
    display: flex;
    min-height: 100%;
    flex-direction: column;
}

#main-content {
    display: block;
    padding: 3rem;
    background-color: white;
    min-height: 100%;
    flex: 1;
}

@media only screen and (max-width: 800px) {
    #main-content {
        padding: 2rem 1rem;
    }
}
