.blog-post-container {
    max-width: 800px;
    margin: 0 auto;
}
.tag {
    display: inline-block;
    text-transform: uppercase;
    margin-right: 5px;
}

h1 {
    margin-bottom: 10px;
    padding-bottom: 0;
}

.metadata {
    display: inline-block;
    padding: 0;
    line-height: 10pt;
    margin-bottom: 3rem;
    font-size: 8pt;
    color: #888888;
}

.date {
    margin-right: 1em;
}
