<h1>I've got certified in</h1>
<div class="image-container">
    <a href="https://www.youracclaim.com/badges/e6a962dd-531e-4717-a901-6fa343c8fe9d/public_url" target="_blank">
        <img src="assets/images/certifications/oracle-certified-associate-java-se-7-programmer.png" alt="" />
        <p>Java 7 associate</p>
    </a>
</div><div class="image-container">
    <a href="https://www.youracclaim.com/badges/a23d1638-b461-49d9-b653-36c52be0d694/public_url" target="_blank">
        <img src="assets/images/certifications/oracle-certified-professional-java-se-7-programmer.png" alt="" />
        <p>Java 7 programmer</p>
    </a>
</div><div class="image-container">
    <a href="https://www.youracclaim.com/badges/3c39dbd7-6e0e-497a-8f34-d19af01f3e4d/public_url" target="_blank">
        <img src="assets/images/certifications/oracle-certified-expert-java-ee-6-java-persistence-api-developer.png" alt="" />
        <p>Java EE 6 Persistence API</p>
    </a>
</div><div class="image-container">
    <a href="http://www.scaledagileacademy.com/certifications/default.aspx?id=1307" target="_blank">
        <img src="assets/images/certifications/safe-framework-practioner.png" alt="SAFe framework practioner" />
        <p>SAFe framework practictioner (SCRUM, Agile, SAFe)</p>
    </a>
</div><div class="image-container">
    <a href="http://www.soaschool.com/" target="_blank">
        <img src="assets/images/certifications/soaschool_professional.png" alt="SOA School Professional" />
        <p>SOA Certified Professional</p>
    </a>
</div>
