portfolio-companies, portfolio-technical-skillset {
    display: inline-block;
    vertical-align: top;
}
portfolio-companies {
    width: 45%;
}
portfolio-technical-skillset {
    width: 40%;
    margin-left: 5%;
}
@media only screen and (max-width: 800px) {
    portfolio-companies, portfolio-technical-skillset {
        margin: inherit;
        width: 100%;
    }
}
