<header class="arrow_box animated fadeInDown">
    <div class="content">

        <div id="greeting" class="animated jello">
            <div id="greetingContent">
                <h2>Hi, I'm <strong>Stijn</strong></h2>
                <h3>I'm a <strong>passionate software developer</strong> who loves <strong>to create great things</strong> to pave the path to <strong>a better world</strong>!</h3>
            </div>
        </div>

        <div id="me">
            <div id="meContent">
                <img alt="me" src="assets/images/me.png" />
            </div>
        </div>

    </div>
</header>
